pg_status__http_listen_address=0.0.0.0
pg_status__hosts=host_one.net,host_two.net,host_three.net
# pg_status__hosts_dc=frankfurt,amsterdam,virginia
# pg_status__current_dc=frankfurt
# pg_status__current_dc_env=PLATFORM_DC
# PLATFORM_DC=frankfurt
# pg_status__hosts_geo=europe,europe,north-america
# pg_status__current_geo=europe
# pg_status__current_geo_env=PLATFORM_GEO
# PLATFORM_GEO=europe
pg_status__pg_database=postgres
pg_status__pg_password=postgres
pg_status__pg_user=postgres
pg_status__pg_port=6432
pg_status__sleep_ms=5000
